<div class="container-fluid text-center py-3">
  <div class="line m-auto my-3"></div>
  <div class="row">
    <div class="social">
      <ul class=" list-unstyled d-flex justify-content-center">
        <li class="m-2"><a target="_blank" href="https://www.linkedin.com/in/mohamed-hadaey-2114051b8/"><i
              class="fa-brands fa-linkedin fa-2x"></i></a></li>
        <li class="m-2"><a target="blank" href="https://github.com/MohamedHadaey"><i
              class="fa-brands fa-github fa-2x"></i></a></li>
        <li class="m-2"><a target="_blank" href="mailto:devmohamedhadaey@gmail.com"><i
              class="fa-solid fa-envelope fa-2x"></i></a></li>
        <li class="m-2"><a target="_blank" href="tel:+201012968817"><i class="fa-solid fa-phone-flip fa-2x"></i></a>
        </li>
      </ul>
    </div>
    <div class="context">
      <p>MovieApp© 2022 By <a class="text-decoration-none" target="_blank"
          href="https://mohamedhadaey.github.io/my-portfolio/">Mohamed Hadaey</a>. All rights reserved</p>
      <p>Designed and Built by me, Data provided by <a href="https://www.themoviedb.org/?language=ar" target="_blank"
          class="text-decoration-none">TMDB</a></p>
    </div>
  </div>
</div>
