<section id="about" class="p-3 my-5">
  <div class="container">
    <div class="row">
      <div class=" col-lg-6 p-lg-5 col1">
        <div class="about-image">
          <img src="assets/images/mohamed.jpg" class="img-fluid" alt="el_developer mohamed hadaey">
        </div>
      </div>
      <div class=" col-lg-6 py-5 col2">
        <div class="about-caption pt-5">
          <h2><b>About</b> Me</h2>
          <h4 class="mt-4">Hello! &nbsp;<span class="main-color">I'M Mohamed Hadaey.</span></h4>
          <p class="my-4 text-muted">I am recently graduated with a bachelor's degree in computer science with a very
            good grade.</p>
          <p class="my-4 text-muted">I got some experience in frontend development through several projects and training
            courses, Seeking a Web Developer position in a stable company where I can use my skills to,benefit the
            company.</p>
          <p class="my-4 text-muted">I had the honor to be one of those who studied under the engineer Nadia " <a
              target="_blank" href="https://www.linkedin.com/in/nadia-mohamed-taha-453b28a4/"
              class="text-decoration-none text-primary fw-bold">E_nadia</a> " </p>
          <div class="about-icons mt-5 ">
            <ul class="ps-0">
              <li><a target="_blank" href="https://www.facebook.com/mohamed.hadaey" class="h4 text-white"><i
                    class="fa-brands fa-facebook-square fa-2x"></i></a></li>
              <li><a target="_blank" class="h4 text-white"
                  href="https://www.linkedin.com/in/mohamed-hadaey-2114051b8/"><i
                    class="fa-brands fa-linkedin fa-2x"></i></a></li>
              <li><a target="blank" href="https://github.com/MohamedHadaey" class="h4 text-white"><i
                    class="fa-brands fa-github fa-2x"></i></a></li>
              <li><a target="blank" href="https://www.instagram.com/mohamed_hadaey/" class="h4 text-white"><i
                    class="fa-brands fa-instagram fa-2x"></i></a></li>
              <li><a target="_blank" href="mailto:devmohamedhadaey@gmail.com" class="h4 text-white"><i
                    class="fa-solid fa-envelope fa-2x"></i></a></li>
              <li><a target="_blank" href="tel:+201012968817" class="h4 text-white"><i
                    class="fa-solid fa-phone-flip fa-2x"></i></a></li>
              <li><a target="_blank" href="https://mohamedhadaey.github.io/my-portfolio/" class="h4 text-white"><i
                    class="fas fa-globe fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
