<div class="my-5 py-5 text-center">
  <input [(ngModel)]="searchingWord" (keyup)="getSearching()" type="text" class="form-control w-50 m-auto" placeholder="Search......">
  <div class="results my-5 h-100" >
    <div *ngIf="resultTrending==null"> <h3 class="my-5">There is no items <br> please search with movie name....</h3> </div>
    <div class="row mb-5">
      <div *ngFor="let trendSearch of resultTrending " class=" col-sm-6 col-md-3 col-lg-2 my-2">
        <div class="cart">
          <img [src]="imgPrifix+trendSearch.poster_path" class="img-fluid" alt="{{trendSearch.title}}">
          <div class="layer1">
            <ul>
              <li><span><i class="fa fa-star"></i></span>{{trendSearch.vote_average}}</li>
            </ul>
          </div>
          <div class="layer2">
            <a [routerLink]="['/details', trendSearch.id , 'movie']">
              <span><i class="fa-solid fa-play"></i></span>
            </a>
          </div>
        </div>
        <h3 class="h6 mt-2 text-center">{{trendSearch.title}}</h3>
      </div>
    </div>
  </div>
</div>
