.col-md-4 .child {
  overflow: hidden;
  box-shadow: 0px 3px 9px #09081b7a;
  border: 4px solid #ffffff17;
  border-radius: 10px;
}

.col-md-8 .child {
  ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 10px 0;

    li {
      border-radius: 5px;
    }
  }

  p {
    color: #949cb0;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.5px;
  }
}

.chil{
  width: fit-content;
}

iframe{
  border-radius: 10px !important;
}

@media screen and (max-width:576px) {
  .col-md-4 {
    padding: 10px 0 !important;
    margin: 0 !important;
  }

  .col-md-8 {
    padding: 10px 0 !important;
    margin: 0 !important;

  }

  .row {
    padding: 20px 10px !important;
  }

  iframe{
    width: 340px !important;
    height: 200px !important;
    margin:5px 2px 5px 20px !important;
  }

}

@media screen and (min-width:577px) and (max-width:991px) {
  .col-md-4 {
    padding: 10px 0 !important;
    margin: 0 !important;
  }

  .col-md-8 {
    padding: 10px 0 !important;
    margin: 10px !important;

  }

  .row {
    padding: 20px 10px !important;
  }

  iframe{
    width: 480px !important;
    height: 290px !important;
    margin:5px 2px 5px 20px !important;
  }

}
